<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify category</title>
</head>
<body>
<h1>Modify category</h1>
<p>
    <a href="/categories">Category list</a>
</p>
<form th:action="@{/edit-category}" th:object="${category}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Modify category"></td>
        </tr>
    </table>
</form>
</body>
</html>